.jumbotron {
    background-image: url(../resources/home-banner.jpg), linear-gradient(rgba($color-black, 1), rgba($color-black, 1));
    background-size: cover;
    background-position: 0% 50%;

    &__heading {
        color: $color-white;
        padding: 0 1rem;
    }

    // Medium devices (tablets, 768px and up)
    @media (max-width: $breakpoint-md) {
        &__heading {
            &--main {
                font-size: 2rem;
            }

            &--sub {
                font-size: 1.2rem;
            }
        }
    }
}