#side-nav-container {
    width: 30%;

}

.side-nav {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    font-size: 1.6rem;
    line-height: 2rem;

    background-color: $color-white;

    &__list {

        &__item {
            width: 100%;
            display: inline-block;
            padding: 1rem 0 1rem 2.4rem;
            font-size: inherit;
            line-height: inherit;

            &:nth-child(odd) {
                background-color: $color-grey-light;
            }
        }
    }

    &__link {

        &:link,
        &:visited {
            line-height: inherit;
            font-size: inherit;
            margin: 1rem 0;
            color: var(--dark, $color-black);
            text-decoration: none;
        }

        &:hover,
        &:active {
            color: lighten($color-black, 50);
        }

        &--main:link {
            font-weight: 600;
            text-decoration: inherit;
        }

        &--sub:link {
            font-size: 1.4rem;
            margin: .7rem 0 .7rem 1.5rem;
            text-decoration: inherit;
        }
    }

    &__footer {
        margin: 10rem 0 0 0;
    }

    @media only screen and (max-width: 350px) {
        padding: 0;

        position: absolute;
        z-index: 1020;
    }
}

.top-nav {
    color: var(--dark, $color-black);
    background-color: $color-grey-light;
    line-height: 4rem;
    padding: 0 15px;
}

.nav__icon {
    color: var(--dark, $color-black);
    line-height: inherit;
    font-size: inherit;

    &:hover {
        color: var(--gray, $color-grey);
    }
}

.collapsed {
    #toggle-side {
        transform: rotate(90deg);
    }
}

#toggle-side {
    transition: .3s transform ease-in-out;
}


.collapsing {
    position: relative;
    width: 0;
    overflow: hidden;
    transition: all ease;
}